*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  background: white;
  height: 80px;
  width: 100%;
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 100px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li #specific-anchor{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
#specific-anchor.active,#specific-anchor:hover{
  background: #1ad0e8;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #1ad0e8;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
/* styles.css */

/* Dropdown Button */
 .dropbtn { 
  height: 48px;
  width: 138px;
  border-radius: 8px;
  background-color: rgb(54, 106, 235); 
  color: #fff;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #4186ff;
  transform: translateY(-2px);
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  min-height: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 0px 2px; */
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* ---nav bar---- */
/* prof content css */
.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.text-right {
    margin-bottom: 20px;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}


/* history page */
  table thead tr th{
    background-color: #009879;
    color: #ffffff;    
}
td {
    text-align: center;
}

table tbody tr:hover{
    background-color: #eeeeee;
}


  /* scroll bar custom */
  /* Width and height */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3388cc; /* Color of the handle */
    border-radius: 4px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #155799; /* Darker color on hover */
  }

  .dropdown-item {
    font-size: 16px;
  }
  
  /* pop up */
 /* CSS for the modal popup */
 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal1 {
  background-color: #fefefe;
  margin: 15% auto;
  margin-bottom: 200px;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


/* Close button style */
.close {
  margin-bottom: 20px;
  color: #aaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(34, 67, 255);
  text-decoration: none;
  cursor: pointer;
}

.btn1 {
  width: 150px;
  background-color: #103ce7;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn1:hover {
  background-color: #1947ff;
}

/* add new disease */
.d-flex a:hover{
  text-decoration: none;
}