*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
  }
  nav{
    background: white;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 100px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav ul li a.active,nav ul li a:hover{
    background: #1ad0e8;
    transition: .5s;
    img{
      background-color: #1ad0e8;    
      transition: .5s;
      border-radius: 3px;
    }
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    nav ul li a:hover,nav ul li a.active{
      background: none;
      color: #1ad0e8;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);

  }

  .welcome{
    width: 630px;
    height: 100px;
    padding: 30px;
    font-size: 50px;
    color: #1ad0e8;
    position: fixed;
    top: 200px;
    bottom: 0px;
    right: 0px;
    left: 230px;
    animation: fadein 2s;
  }

  .introduction{
    width: 600px;
    height: 250px;
    padding: 50px;
    position: fixed;
    top: 270px;
    bottom: 0px;
    right: 0px;
    left: 220px;
    color: rgb(53, 53, 53);
    animation: fadein 2.5s;
  }

#doctorbot{
  height: 450px;
  width: 450px;
  position: fixed;
  top: 120px;
  left: 800px;
  animation: fadein 2.5s;
}

@keyframes fadein{
  5% { opacity: 0; }
  100% { opacity: 1; }
}


.form-outline {
    margin-bottom: 1rem; /* Add margin between form inputs */
}

.card {
    height: 100%;
}

.icon{
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

/* Adjust input box width */
.form-control {
    width: 250px; /* Adjust the width as needed */
}
