@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}
body{
  font-family: sans-serif;
}
nav{
  background:#f1f1f1;
  height: 80px;
  width: 100%;
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 100px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li #specific-anchor{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
#specific-anchor.active,#specific-anchor:hover{
  background: #1ad0e8;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #1ad0e8;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.final_seg{
    margin-left: 250px;
    margin-top: 10px;
}


.container{
    width: 100%;
    max-width: 960px;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.3);
    margin: 20px; /* Set flex-direction to column */
}

.container:hover {
    box-shadow: 0px 10px 40px -15px rgba(0, 0, 0, 0.5); /* Change box-shadow on hover */
}

.container h3{
    font-size: 32px;
    text-align: start;
    margin-bottom: 8px;
    background-color: #ffffff;
}

.container p{
    font-size: 16px;
    text-align: start;
    margin-bottom: 20px;
    color: #696969;
    background-color: #ffffff;
}

/* common */
.common{
    display: flex;
    max-width: 790px;
    align-items: start;
    background-color: #ffffff;
}
.chart-container,.my-chart,.details ul li,.text,.details ul{
    background-color: #ffffff;
}

/* pi chart */
.programming-stats {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 20px; /* Optional: Add margin-bottom for consistency */
    width: 100%;
    max-width: 400px;
    padding: 0px;
    color: #000000;
    background-color: #ffffff;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    display: inline-block;
    font-size: 14px;
    padding: 8px;
    margin: 12px 0;
    text-transform: uppercase;
}

.details .percentage {
    font-weight: 600;
    color: #e63946;
}

/* text */
.text{
    max-width: 390px;
    margin-top: 15%;
}


.text .p{
    color: #4299FF;
    background:white;
}
.details .percentage{
    background-color: #ffffff;
}

/* button */

.container .button{
    height: 48px;
    width: 138px;
    border-radius: 8px;
    background-color: rgb(54, 106, 235); 
    color: #fff;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    /* margin-left: 85%; */
}

.button:hover{
    background-color: #4186ff;
    transform: translateY(-2px);
}

/* responsive */

@media only screen and (max-width: 596px) {
    .common{
        display: grid;
        justify-content: center;
    }

    .container h3{
        font-size: 24px;
        text-align: start;
        margin-bottom: 8px;
    }
    
    .container p{
        font-size: 12px;
        text-align: start;
        margin-bottom: 20px;
        color: #696969;
    }
}
.dropbtn {
  /* background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; */
  height: 48px;
  width: 138px;
  border-radius: 8px;
  background-color: rgb(54, 106, 235); 
  color: #fff;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #4186ff;
  transform: translateY(-2px);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  min-height: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 0px 2px; */
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
