{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="../static/aboutus.css">
<h1 style="margin: 20px auto; text-align: center;">About Us</h1>

<div class="con2">
  <div class="con1">
    <div class="image">
      <img src="../static/doctorbot.png" alt="Sourish">
    </div>
    <div class="con">
      <div class="name">
        <h1><span>Name:-</span> Sourish Chandra</h1>
        <h2><span>Roll No.:-</span> 954</h2>
        <h2><span>Registration No.:-</span> CSE/22100</h2>
      </div>
    
      <div class="content">
       <a href="#"><img src="../static/icons8-github.svg" alt=""></a>
       <a href="#"><img src="../static/linkedin-svgrepo-com.svg" alt=""></a>
       <a href="#"><img src="../static/twitter-x.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="con2">
  <div class="con1">
    <div class="image">
      <img src="../static/doctorbot.png" alt="Sourish">
    </div>
    <div class="con">
      <div class="name">
        <h1><span>Name:-</span> Sourish Chandra</h1>
        <h2><span>Roll No.:-</span> 954</h2>
        <h2><span>Registration No.:-</span> CSE/22100</h2>
      </div>
    
      <div class="content">
       <a href="#"><img src="../static/icons8-github.svg" alt=""></a>
       <a href="#"><img src="../static/linkedin-svgrepo-com.svg" alt=""></a>
       <a href="#"><img src="../static/twitter-x.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="con2">
  <div class="con1">
    <div class="image">
      <img src="../static/doctorbot.png" alt="Sourish">
    </div>
    <div class="con">
      <div class="name">
        <h1><span>Name:-</span> Sourish Chandra</h1>
        <h2><span>Roll No.:-</span> 954</h2>
        <h2><span>Registration No.:-</span> CSE/22100</h2>
      </div>
    
      <div class="content">
       <a href="#"><img src="../static/icons8-github.svg" alt=""></a>
       <a href="#"><img src="../static/linkedin-svgrepo-com.svg" alt=""></a>
       <a href="#"><img src="../static/twitter-x.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="con2">
  <div class="con1">
    <div class="image">
      <img src="../static/doctorbot.png" alt="Sourish">
    </div>
    <div class="con">
      <div class="name">
        <h1><span>Name:-</span> Sourish Chandra</h1>
        <h2><span>Roll No.:-</span> 954</h2>
        <h2><span>Registration No.:-</span> CSE/22100</h2>
      </div>
    
      <div class="content">
       <a href="#"><img src="../static/icons8-github.svg" alt=""></a>
       <a href="#"><img src="../static/linkedin-svgrepo-com.svg" alt=""></a>
       <a href="#"><img src="../static/twitter-x.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="con2">
  <div class="con1">
    <div class="image">
      <img src="../static/doctorbot.png" alt="Sourish">
    </div>
    <div class="con">
      <div class="name">
        <h1><span>Name:-</span> Sourish Chandra</h1>
        <h2><span>Roll No.:-</span> 954</h2>
        <h2><span>Registration No.:-</span> CSE/22100</h2>
      </div>
    
      <div class="content">
       <a href="#"><img src="../static/icons8-github.svg" alt=""></a>
       <a href="#"><img src="../static/linkedin-svgrepo-com.svg" alt=""></a>
       <a href="#"><img src="../static/twitter-x.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
