{% extends 'base.html' %}

{% block body %}
    <h1 class="welcome">Welcome to DoctorBot</h1>
    <p class="introduction">Welcome to our symptom checker website, your trusted companion in health awareness and diagnosis! With just a few clicks, you can input your symptoms and receive reliable information about potential underlying health conditions. Whether you're curious about a minor ailment or seeking clarification on a more serious issue, our platform is designed to provide accurate insights and guidance. Empower yourself with knowledge and take proactive steps towards better health with our intuitive symptom checker.</p>
    <div class="">
    <img src="static/doctorbot.png" alt="DoctorBot" id="doctorbot">
    <div class="get-btn">
        <div class="getstart">
            <a href="{{url_for('patient1')}}"><button type="button" class="getstart-btn">symptom checker</button></a>
    </div>
    </div>
{% endblock %}