{% extends 'base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
    
<div class="container">
    <h2 id="symptomform">Symptoms Input Form</h2>
    <form method="POST" action="/result1">
        <div class="form-group">
            <label for="symptom1">Symptom 1:</label>
            <input type="text" id="symptom1" name="symptom1">
        </div>
        <div class="form-group">
            <label for="symptom2">Symptom 2:</label>
            <input type="text" id="symptom2" name="symptom2">
        </div>
        <div class="form-group">
            <label for="symptom3">Symptom 3:</label>
            <input type="text" id="symptom3" name="symptom3">
        </div>
        <div class="form-group">
            <label for="symptom4">Symptom 4:</label>
            <input type="text" id="symptom4" name="symptom4">
        </div>
        <div class="form-group">
            <label for="symptom5">Symptom 5:</label>
            <input type="text" id="symptom5" name="symptom5">
        </div>
        <input type="submit" value="Submit" id="formsubmit">
    </form>
</div>


{% else %}
    <p><h2>use must first <a href="login">login</a> to use it</h2></p>
{% endif %}

{% endblock %}